# 第2章: UNIXコマンドの基礎

hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [2]:
f = open('hightemp.txt', 'r')
file_lines = f.readlines()
f.close()

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [3]:
print(len(file_lines))

24

In [4]:
!wc -l hightemp.txt

      24 hightemp.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [5]:
new_file = ""
for line in file_lines:
    new_file += line.replace('\t', ' ')
print(new_file)

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [6]:
!sed 's/	/ /g' hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [7]:
!cat hightemp.txt | tr '	' ' '

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [8]:
!expand -t1 hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [9]:
def save_string(string, name):
    with open(name, 'w') as f:
        f.write(string)

col1 = ""
col2 = ""
for line in file_lines:
    col1 += line[0] + '\n'
    col2 += line[1] + '\n'
    
save_string(col1, 'col1.txt')
save_string(col2, 'col2.txt')

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [10]:
result = ""

with open('col1.txt', 'r') as f1:
    with open('col2.txt', 'r') as f2:
        line1 = f1.readline().rstrip('\n')
        line2 = f2.readline()
        
        while line1 and line2:
            result += line1 + '\t' + line2
            line1 = f1.readline().rstrip('\n')
            line2 = f2.readline() 
        
        save_string(result, 'result.txt')

In [11]:
!paste col1.txt col2.txt

高	知
埼	玉
岐	阜
山	形
山	梨
和	歌
静	岡
山	梨
埼	玉
群	馬
群	馬
愛	知
千	葉
静	岡
愛	媛
山	形
岐	阜
群	馬
千	葉
埼	玉
大	阪
山	梨
山	形
愛	知

<u><b>ここから、コマンドライン引数の手段で引数を受け取ると書いてあるところは、全て普通の関数に変換させます。</b></u>  
理由は、回答をJupyter Labで行っているからです。

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [26]:
def read_head(N, filename):
    with open(filename, 'r') as f:
        result = f.readline()
        temp = result
        if temp is "": i = 0
        else: i = 1
        
        while i != N and temp:
            temp = f.readline()
            result += temp
            i += 1
            
        print(result)
        
read_head(10, 'result.txt')

高	知
埼	玉
岐	阜
山	形
山	梨
和	歌
静	岡
山	梨
埼	玉
群	馬

In [1]:
!head -n 10 result.txt

高	知
埼	玉
岐	阜
山	形
山	梨
和	歌
静	岡
山	梨
埼	玉
群	馬

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [19]:
def read_tail(N, filename):
    with open(filename, 'r') as f:
        result = f.readlines()
        
        for i, line in enumerate(result):
            if i >= len(result) - N:
                print(line, end="")

        
read_tail(10, 'result.txt')

愛	媛
山	形
岐	阜
群	馬
千	葉
埼	玉
大	阪
山	梨
山	形
愛	知

In [20]:
!tail -n 10 result.txt

愛	媛
山	形
岐	阜
群	馬
千	葉
埼	玉
大	阪
山	梨
山	形
愛	知

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [31]:
def split_file(N, filename):
    with open(filename, 'r') as f:
        lines = f.readlines()
        result = []
        temp = ""
        split_th = len(lines) // N
        
        for i, line in enumerate(lines):
            temp += line
            if (i + 1) % split_th == 0:
                result.append(temp)
                temp = ""
                
        if temp != "":
            result.append(temp)
            
        return result

split_file(8, 'result.txt')

['高\t知\n埼\t玉\n岐\t阜\n',
 '山\t形\n山\t梨\n和\t歌\n',
 '静\t岡\n山\t梨\n埼\t玉\n',
 '群\t馬\n群\t馬\n愛\t知\n',
 '千\t葉\n静\t岡\n愛\t媛\n',
 '山\t形\n岐\t阜\n群\t馬\n',
 '千\t葉\n埼\t玉\n大\t阪\n',
 '山\t梨\n山\t形\n愛\t知\n']

In [ ]:
!gsplit -n 8 result.txt result

gsplitを使う理由は、macのsplitには、-nのオプションがないからです。gsplitを利用する前に、brewとかで`brew install coreutils`を実行すれば良い。

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [34]:
first_col_set = set()

for line in file_lines:
    first_col_set.add(line[0])
    
first_col_set

{'千', '和', '埼', '大', '山', '岐', '愛', '群', '静', '高'}

In [ ]:
!sed 's/./& /g' high

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [39]:
sorted_file_lines = sorted(file_lines, key=lambda line: float(line.split('\t')[2]), reverse=True)
sorted_file_lines

['高知県\t江川崎\t41\t2013-08-12\n',
 '埼玉県\t熊谷\t40.9\t2007-08-16\n',
 '岐阜県\t多治見\t40.9\t2007-08-16\n',
 '山形県\t山形\t40.8\t1933-07-25\n',
 '山梨県\t甲府\t40.7\t2013-08-10\n',
 '和歌山県\tかつらぎ\t40.6\t1994-08-08\n',
 '静岡県\t天竜\t40.6\t1994-08-04\n',
 '山梨県\t勝沼\t40.5\t2013-08-10\n',
 '埼玉県\t越谷\t40.4\t2007-08-16\n',
 '群馬県\t館林\t40.3\t2007-08-16\n',
 '群馬県\t上里見\t40.3\t1998-07-04\n',
 '愛知県\t愛西\t40.3\t1994-08-05\n',
 '千葉県\t牛久\t40.2\t2004-07-20\n',
 '静岡県\t佐久間\t40.2\t2001-07-24\n',
 '愛媛県\t宇和島\t40.2\t1927-07-22\n',
 '山形県\t酒田\t40.1\t1978-08-03\n',
 '岐阜県\t美濃\t40\t2007-08-16\n',
 '群馬県\t前橋\t40\t2001-07-24\n',
 '千葉県\t茂原\t39.9\t2013-08-11\n',
 '埼玉県\t鳩山\t39.9\t1997-07-05\n',
 '大阪府\t豊中\t39.9\t1994-08-08\n',
 '山梨県\t大月\t39.9\t1990-07-19\n',
 '山形県\t鶴岡\t39.9\t1978-08-03\n',
 '愛知県\t名古屋\t39.9\t1942-08-02\n']

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [45]:
line_prob = {}

for line in file_lines:
    splitted = line.split('\t')
    
    if splitted[0] not in line_prob:
        line_prob[splitted[0]] = 1
    elif splitted[0] in line_prob:
        line_prob[splitted[0]] += 1
    
sorted_line_prob = sorted(list(line_prob.items()), key=lambda x: x[1], reverse=True)
sorted_line_prob

[('埼玉県', 3),
 ('山形県', 3),
 ('山梨県', 3),
 ('群馬県', 3),
 ('岐阜県', 2),
 ('静岡県', 2),
 ('愛知県', 2),
 ('千葉県', 2),
 ('高知県', 1),
 ('和歌山県', 1),
 ('愛媛県', 1),
 ('大阪府', 1)]